@font-face {
	font-family: "FlaticonDesk";
	src: url("/css/fonts/Flaticon-Desk/flaticon.eot");
	src: url("/css/fonts/Flaticon-Desk/flaticon.eot#iefix") format("embedded-opentype"),
	url("/css/fonts/Flaticon-Desk/flaticon.woff") format("woff"),
	url("/css/fonts/Flaticon-Desk/flaticon.ttf") format("truetype"),
	url("/css/fonts/Flaticon-Desk/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-desk-"]:before, [class*=" flaticon-desk-"]:before,
[class^="flaticon-desk-"]:after, [class*=" flaticon-desk-"]:after {   
	font-family: FlaticonDesk;
       
font-style: normal;

}.flaticon-desk-businessman137:before {
	content: "\e000";
}
.flaticon-desk-call37:before {
	content: "\e001";
}
.flaticon-desk-chief:before {
	content: "\e002";
}
.flaticon-desk-chronometer10:before {
	content: "\e003";
}
.flaticon-desk-commercial15:before {
	content: "\e004";
}
.flaticon-desk-delivery18:before {
	content: "\e005";
}
.flaticon-desk-frontal19:before {
	content: "\e006";
}
.flaticon-desk-international14:before {
	content: "\e007";
}
.flaticon-desk-man337:before {
	content: "\e008";
}
.flaticon-desk-peace:before {
	content: "\e009";
}
.flaticon-desk-person21:before {
	content: "\e00a";
}
.flaticon-desk-student49:before {
	content: "\e00b";
}
.flaticon-desk-tool9:before {
	content: "\e00c";
}
.flaticon-desk-verification5:before {
	content: "\e00d";
}
